body {
  font-size: 12px; 
  margin: 0px; 
  color: #3a3a3a; 
  font-family: Tahoma, Verdana, arial, Helvetica, sans-serif; 
  background-color: #e3e3e3
}

a {
	color: #000000; 
  text-decoration: none;
	cursor:pointer;
}
a:visited {
	color: #000000; 
  text-decoration: none;
	cursor:pointer;
}
a:hover {
	color: #993366; 
  text-decoration: none;
	cursor:pointer;
}

hr {
	color: #000000; 
  height: 1px
}
p {
  font-size: 11px
}

td {
	font-size: 11px
}
h1 {
  font-size: 18px
}

.anatablo {
  border-left:solid 1px; 
	border-right:solid 1px;
	width:760px
}

.ana {
	border-top: #000000 1px solid; 
	border-bottom: #000000 1px solid
}

.ust {
  background-color: #c4c4c4
}

.ustmenu {
	padding-right: 5px; 
  border-top: #777777 1px solid; 
  padding-left: 5px; 
  padding-bottom: 5px; color: #c0c0c0; 
  padding-top: 5px; 
  border-bottom: #777777 1px solid; 
  background-color: #2e2e2e
}
.ustmenu a {
	color: #efefef
}
.ustmenu a:visited {
	color: #efefef
}
.ustmenu a:hover {
	color: #ff8040
}

.ortaalan {
	background-color: #f5f5fd
}


.solmenu {
	background-color:#cccccc
}

.solmenubaslik {
	padding-right: 2px; 
	background-position: left 50%; 
	padding-left: 17px; 
	font-weight: bold; 
	font-size: 11px; 
	background-image: url(images/cat_ic.gif); 
	padding-bottom: 2px; 
	color: #ffffff; 
	padding-top: 2px; 
	border-bottom: #434343 1px solid; 
	background-repeat: no-repeat; 
	background-color: #838383
}


.menu a {
	border: #cccccc 1px solid; 
	padding-right: 3px; 
	display: block; 
	padding-left: 7px; 
	padding-bottom: 1px; 
	color: #172033; 
	padding-top: 1px; 

}
.menu a:hover {
	border: #9a9a9a 1px solid; 
  color: #c02105; 
	background-color: #e2e2e2; 
	text-decoration: none
}

.tablolar {
background-color: #ffffff;
border:none
}
.tablobaslik {
color: #000000;
background-color: #cccccc
}

.renk1 {
background-color: #f5f5f5
}
.renk2 {
background-color: #e8e8e8
}

.altbolum {
	padding-right: 5px; 
  border-top: #777777 1px solid; 
  padding-left: 5px; padding-bottom: 5px; 
  color: #c0c0c0; padding-top: 5px; 
  border-bottom: #000000 1px solid; 
  background-color: #2e2e2e
}

.altbolum a {
	color: #efefef; 
  text-decoration: none
}
.altbolum a:visited {
	color: #efefef; 
  text-decoration: none
}
.altbolum a:hover {
	color: #ff8040; 
  text-decoration: none
}

form {
	font-size: 11px; font-family: Tahoma,Verdana,arial,Helvetica,sans-serif
}

textarea {
	font-size: 11px; 
	color: #000000;
	font-weight:normal; 
	font-family: Tahoma,Verdana,arial,Helvetica,sans-serif
}
input {
  color:#000000;
  border: 1px solid #9f9f9f; 
  font-size: 11PX; 
  font-weight: normal; 
	font-family: Tahoma,Verdana,arial,Helvetica,sans-serif;
	padding-left:5px
}
input2 {
  color:#000000;
  border: 1px solid #ff0000; 
  font-size: 11PX; 
  font-weight: normal; 
	font-family: Tahoma,Verdana,arial,Helvetica,sans-serif;
	padding-left:5px
}
select {
	font-size: 11px; 
	color: #000000; 
	font-family: Tahoma,Verdana,arial,Helvetica,sans-serif
}

.mesaj1 {
  padding:15px; 
	border:solid 1px #000000
}

.hata {
  width:80%;
	font-size:12px;
	color:#DD0000;
	height:auto;
	padding-top:5px;
	padding-bottom:5px;
	background-color:#FFFFFF;
	position:relative;
	text-align: center;
	border:1px solid #000066;
	z-index:auto
}
.normalmesaj {
  width:80%;
	font-size:12px;
	color:#008000;
	height:auto;
	padding-top:5px;
	padding-bottom:5px;
	background-color:#FFFFFF;
	position:relative;
	text-align: center;
	border:1px solid #000066;
	z-index:auto
}
.hata_mesaj {
	font-size:12px;
	font-weight:bold;
	width:400px;
	height:auto;
	margin-top:15px;
	margin-bottom:15px;
	padding-bottom:10px;
	background-color:#FFFFFF;
	position:relative;
	text-align: center;
	border:1px solid #000066;
	z-index:auto
}


#hizliMesaj {
  background-color:#e3e3e3;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size : 9px;
	border-top-width:1px;
	border-bottom-width:1px;
	border-top-color: #D4D0C8;
	border-bottom-color: #FFFFFF;
	text-align:left;
	overflow:auto;
	color:#000000;
}

.yaziresim {
padding:5px;
border-width:1px;
border-style:solid;
}

.ana_div {
	font-size:9px;
	width:215px;
	max-height:400px;
	background-color:#E4E4E4;
	position:absolute;
	margin-top: 0px;
	margin-left:0px;
	text-align: left;
	z-index:1000;
	border: 2px solid;
	border-color:#999999;
	padding: 4px;
	margin: 0px;
	display:none;
}

.icerik_div
{
  width:200px;
	min-height:90px;
	max-height:380px;
  text-align:left;
	overflow:auto;
}

.resim_kenarlik1 {
border: 1px solid #000000;
}
.resim_kenarlik2 {
border: 1px solid #CC9966;
}
.albumresim {
border-width:1px;
border-style:solid;
}

#code 
{
  background:#E5E5E5;
	width:100%;
	height:auto;
}

<!-- HTML Duzenleyici -->
.tablo {
  border-width:2px;
	border-style:solid;
	border-color:#999999
}
.td {
  border-width:1px;
	border-style:solid;
	border-color:#999999
}

.toolbar3   
{ 
  border: 1px solid #666666; 
	height: 24px; 
	background-image: url(../../editor/background_silver.jpg); 
	border-bottom: 0px; 
	border-top: 1px;
}

.toolbar2   { border: 1px solid #666666; height: 24px; background-image: url(../../editor/background_silver.jpg); border-bottom: 0px; border-top: 0px }


.button     { width: 20px; height: 20px; border: 0px solid transparent; margin: 1px; padding: 0px; background: transparent; }
.buttonOver { width: 20px; height: 20px; border: 1px solid #999999; margin: 0; padding: 0px; }

.dropdown          { background-color: #FFFFFF; border: 1px solid #333333; height: 140px; overflow: auto; padding: 1px; }
button.mouseOver   { background-color: #EEEEEE; border: 1px solid #CCCCCC; padding: 3px; cursor: default; text-align: left;}
button.mouseOut    { background-color: #FFFFFF; border: 1px solid #FFFFFF; padding: 3px; cursor: default; text-align: left;}

.on   { background-color: #EEEEEE; border: 1px solid #CCCCCC; padding: 6px; width: 140px; cursor: default; height: 5px;}
.off  { background-color: #FFFFFF; border: 1px solid #FFFFFF; padding: 6px; width: 140px; cursor: default; height: 5px;}

/* Select Shading/Border Color */
.selectColorTable  { border: 1px solid #7E7E81; background-color: #F7F7F7; padding: 1px; }
.selectColorBorder { border: 1px solid #F7F7F7; }
.selectColorOn     { border: 1px solid #999999; background-color: #CCCCCC; }
.selectColorOff    { border: 1px solid #F7F7F7; background-color: #F7F7F7; }
.selectColorBox    { border: 1px solid #FFFFFF; font-size: 1px; height: 13px; width: 13px; }